<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>
<body>
    <header>
        <div id="logo" onclick="slowScroll('#main')">
            <a href="index.html"><span>Aktan-Residence</span></a>
        </div>
        <div id="about">
            <a href="inffo" title="Возможности" onclick="slowScroll('#main')" class="off">О нас</a>
            <a href="https://www.facebook.com/aktanarymkubat" title="Возможности" onclick="slowScroll('#main')" class="off">Facebook</a>
            <a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA" title="Возможности" onclick="slowScroll('#main')" class="off">Youtube</a>
            <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82" title="Возможности" onclick="slowScroll('#main')" class="off">Wiki</a>

            <div id="menu">
                <div id="block"></div>
                <div class="mob-header">
                    <ul>
                    <li id="sub-menu"><a href="#">
                        <img src="/css/img/menu.png" id="img"></a>
                            <div class="sub-menu">
                            <ul>
                                <li><a href="inffo">О нас</a></li>
                                <li><a href="https://www.facebook.com/aktanarymkubat">Facebook</a></li>
                                <li><a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA">Youtube</a></li>
                                <li><a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82">Wiki</a></li>
                            </ul>
                        </div>
                    </li></ul>
                </div>
            </div>
        </div>
    </header>

    <div id="back"></div>

    <div id="photos">
        <img src="/css/img/batink.jpg" alt="жалко у пчелки" width="400px">
    </div>
    <div id="name">
        <!-- <h1>Башмак</h1> -->
    </div>
    <div id="desc">
        <span>"...Кем-то потерянный детский левый башмачок принёс нам Жылкычы Жакыпов, он тогда был художником-постановщиком на "Маймыле". И мы использовали этот реквизит в эпизоде, когда мать главного героя, потеряв всякую надежду, решилась расстаться с пьющим мужем. Она вместе с детьми томилась в автобусе, ожидая отъезда. Маймыл стоял держась за поручень, где сиротливо висел башмачок, и эта деталь очень точно дополняла состояние мечущегося между матерью и отцом юноши. Перед самым отъездом, он выходит из автобуса и возвращается к отцу. Маймыл словно половинка одной семьи, одной жизни.
            Жылкычы был не только художником, но и сыграл одну из сложных ролей, отца Маймыла. Мы ставили камеру, он сидел спиной к нам, и собирались его снимать через отражение в зеркале на подоконнике. Это сцена одиночества и я подумал, почему бы отцу не заплакать, хотя в сценарии этого не было и с ним не обсуждали. Не успел спросить, может ли он заплакать, как слезы потекли, я опешил и стал его успокаивать, по-моему, даже смеялись. Сожалели, что растеряли его состояние и все же решили попробовать снять плачущего отца. Три или четыре дубля как нам хотелось, плакал и в нужное время отворачивал и клал на подоконник зеркало, как бы стыдясь своих запоздалых слез. С нами на съёмках был итальянец Умберто Грасси, представляющий "Ное продюксьон", он назвал Жылкычы кыргызким Чарльз Бронсоном.
            Жылкычы Жакыпов - один из лидеров группы конца 80-тых годов "Новая волна", выдающийся художник, совершивший в буквальном смысле революцию в национальном изобразительном искусстве, и мне было за честь пригласить его в съёмочную группу".</span>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll(id) {
            $('html', 'body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }

        $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed")
            else
                $("header").attr("class", "fixed")
        })
    </script>
</body>
</html>