<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
</head>
<body>
    <header>
        <div id="logo" onclick="slowScroll('#main')">
            <a href="index.html"><span>Aktan-Residence</span></a>
        </div>
        <div id="about">
            <a href="inffo" title="Возможности" onclick="slowScroll('#main')" class="off">О нас</a>
            <a href="https://www.facebook.com/aktanarymkubat" title="Возможности" onclick="slowScroll('#main')" class="off">Facebook</a>
            <a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA" title="Возможности" onclick="slowScroll('#main')" class="off">Youtube</a>
            <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82" title="Возможности" onclick="slowScroll('#main')" class="off">Wiki</a>

            <div id="menu">
                <div id="block"></div>
                <div class="mob-header">
                    <ul>
                    <li id="sub-menu"><a href="#">
                        <img src="/css/img/menu.png" id="img"></a>
                            <div class="sub-menu">
                            <ul>
                                <li><a href="inffo">О нас</a></li>
                                <li><a href="https://www.facebook.com/aktanarymkubat">Facebook</a></li>
                                <li><a href="https://www.youtube.com/channel/UCIqMgtl_v59UlufeJeeS_wA">Youtube</a></li>
                                <li><a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BA%D1%82%D0%B0%D0%BD_%D0%90%D1%80%D1%8B%D0%BC_%D0%9A%D1%83%D0%B1%D0%B0%D1%82">Wiki</a></li>
                            </ul>
                        </div>
                    </li></ul>
                </div>
            </div>
        </div>
    </header>

    <div id="back"></div>

    <div id="photos">
        <img src="/css/img/taiata 2taya.png" alt="жалко у пчелки">
    </div>
    <div id="name">
        <!-- <h1>Портет</h1> -->
    </div>
    <div id="desc">
        <span>"На мой день рождения, внучка Сезимай, старшая дочь Мирлана и Алтынай, нарисовала мой портрет. Я был на улице, пока готовили праздничный стол, а когда вошел домой, меня ждал приятный сюрприз на флипчарте. Айчурек тут же вмешалась, требуя к себе внимание и настояла нарисовать апашку тоже, хотя это был не её день.
            Так, ата и апа красовались на флипчарте, пока не приехал в Кунтуу южнокорейский режиссёр с мировым именем Ким Ки Дук. Увидев рисунок Сезимай, он тоже вызвался нарисовать меня (Ким Ки Дук из художников, два года учился изящным искусствам в Париже). Закончив рисовать, он, смущаясь, признался: "У внучки рисунок больше похож на Вас."
            Чуть не забыл, все, кто приходит к нам, говорят, что Сезимай очень похоже нарисовала свою апа. Говорю на всякий случай, вдруг Айчурек прочтёт мои записи и может же обидеться. У природы нет плохой погоды и все же..."</span>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function slowScroll(id) {
            $('html', 'body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }

        $(document).on("scroll", function () {
            if($(window).scrollTop() === 0)
                $("header").removeClass("fixed")
            else
                $("header").attr("class", "fixed")
        })
    </script>
</body>
</html>